<html>
  <head>
    <title>Solid Auth Fetcher NodeJS Tester</title>
  </head>
  <body>
    <h1>Solid Auth Fetcher NodeJS Tester</h1>
    <form method="POST" action="/login">
      <label for="webid">User's WebId</label>
      <input type="text" id="webid" name="webid" value="http://localhost:8080" />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>