name: CD-preview

on:
  push:
    branches-ignore:
      - dependabot/*

env:
  CI: true
jobs:
  dev-release-npm:
    name: "NPM release under a dev tag"
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Prepare for publication to GitHub Packages
        uses: actions/setup-node@v2.1.4
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"
      - name: Determine npm tag
        # Remove non-alphanumeric characters
        # See https://help.github.com/en/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable
        run: echo "TAG_SLUG=$(echo ${GITHUB_REF#refs/heads/} | tr -cd '[:alnum:]-')" >> $GITHUB_ENV
      - run: npm ci
      - name: Prepare prerelease version
        run: |
          git config user.name $GITHUB_ACTOR
          git config user.email gh-actions-${GITHUB_ACTOR}@github.com
          # Unfortunately re-running a job does not change its run ID nor run number.
          # To prevent re-releasing the same version when re-running the CD job,
          # we incorporate a timestamp in the prerelease version:
          TIMESTAMP=$(date --utc +%s)
          # Make sure the prerelease is tagged with the branch name, and that they are sorted by build:
          npm run version -- prerelease --preid=$TAG_SLUG-$GITHUB_RUN_ID-$GITHUB_RUN_NUMBER-$TIMESTAMP --yes --no-push --exact
      - run: npm run build
      - run: npm run publish-preview -- --dist-tag "$TAG_SLUG" --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: |
          echo "Package published. To install, run:"
          echo ""
          echo "    npm install @inrupt/solid-client-authn-browser@$TAG_SLUG"
