name: CI

on: [push]

env:
  CI: true
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    uses: inrupt/typescript-sdk-tools/.github/workflows/reusable-lint.yml@v3
    with:
      build: true

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # We test against different OSes, because the build toolchain has OS-specific dependencies.
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
        node-version: ["20.x", "22.x", "24.x"]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run test
      # Check that we can build our test apps using esbuild
      - run: npm run test:esbuild
      # Upload coverage for sonarcube (only matching OS and one node version required)
      - uses: actions/upload-artifact@v5
        if: ${{ matrix.node-version == '24.x' }}
        with:
          name: code-coverage-${{ matrix.os }}-${{matrix.node-version}}
          path: coverage/

  sonar-scan:
    needs: [test]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Since this is a monorepo, the Sonar scan must be run on each of the packages but this will pull in the test
        # coverage information produced by the tests already run.
        project-root:
          [
            "packages/browser",
            "packages/oidc-browser",
            "packages/node",
            "packages/core",
          ]
    steps:
      - uses: actions/checkout@v5
        with:
          # Sonar analysis needs the full history for features like automatic assignment of bugs. If the following step
          # is not included the project will show a warning about incomplete information.
          fetch-depth: 0
      - uses: actions/download-artifact@v6
        with:
          name: code-coverage-ubuntu-latest-24.x
          path: coverage/
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v5
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          projectBaseDir: ${{ matrix.project-root }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  check:
    if: always()
    needs:
      - lint
      - sonar-scan
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # release/v1
        with:
          allowed-skips: sonar-scan
          jobs: ${{ toJSON(needs) }}
