name: CI

on: [push, workflow_dispatch]

env:
  CI: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Available OS's: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
        os: [ubuntu-20.04, windows-2019]
        node-version: [16.x, 14.x, 12.x]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v2.1.6
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node${{ runner.node-version }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      - run: npm run bootstrap -- --ci
      - run: npm run build
      - run: npm run test
      - # Dependabot cannot access secrets, so it doesn't have a token to authenticate to ESS.
        # Since all the other jobs of this workflow depend on this one, skipping it should
        # skip the entire workflow.
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: npm run e2e-test
        env: 
          E2E_TEST_CLIENT_ID: ${{ secrets.E2E_TEST_CLIENT_ID }}
          E2E_TEST_CLIENT_SECRET: ${{ secrets.E2E_TEST_CLIENT_SECRET }}
          E2E_TEST_IDP_URL: ${{ secrets.E2E_TEST_IDP_URL }}
          E2E_TEST_ESS_POD: ${{ secrets.E2E_TEST_ESS_POD }}
      - run: npx prettier --check "{packages/*/src,packages/*/__tests__}/**"
      # FIXME: upgrading the dependencies of lerna-audit causes a bug.
      # See https://github.com/tnobody/lerna-audit/pull/26. When we can
      # remove the dependency on "@npmcli/arborist": "~2.2.1", the following line
      # can be uncommented.
      # - run: npm audit --audit-level=moderate
      # We can't just run `lerna exec "npm audit"`, because that would fail when
      # preparing a new version: when the versions are bumped, but not published
      # yet, `npm audit` would fail.
      - run: npm run audit-all -- --no-fix
      - name: Archive code coverage results
        uses: actions/upload-artifact@v2.2.4
        continue-on-error: true
        with:
          name: code-coverage-report
          path: ./packages/*/coverage/
