name: End-to-end node tests

on:
  push:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  CI: true
jobs:
  e2e-node:
    runs-on: ${{ matrix.os }}
    environment:
      name: ${{ matrix.environment-name }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: ["22.x", "20.x", "18.x"]
        # NSS does not support static client registration, which we rely on for testing.
        environment-name: ["ESS PodSpaces"]
        experimental: [false]
        include:
          - environment-name: "ESS Dev-2-3"
            experimental: true
            # The experimental config only needs to run in one node version
            node-version-file: ".nvmrc"
            # Ditto for the OS
            os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
        if: github.actor != 'dependabot[bot]'
      - name: Install e2e tests dependencies
        run: npx playwright install --with-deps
        if: github.actor != 'dependabot[bot]'
      - # Dependabot cannot access secrets, so it doesn't have a token to authenticate to ESS.
        # We want jobs in this workflow to be gating PRs, so the whole matrix must
        # run even for dependabot so that the matrixed jobs are skipped, instead
        # of the whole pipeline.
        if: ${{ github.actor != 'dependabot[bot]' }}
        run: npm run test:e2e:node:all
        env:
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
          E2E_TEST_OWNER_CLIENT_ID: ${{ secrets.E2E_TEST_OWNER_CLIENT_ID }}
          E2E_TEST_OWNER_CLIENT_SECRET: ${{ secrets.E2E_TEST_OWNER_CLIENT_SECRET }}
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
          E2E_TEST_USER: ${{ secrets.E2E_TEST_USER }}
          E2E_TEST_PASSWORD: ${{ secrets.E2E_TEST_PASSWORD }}
