name: End-to-end browser tests

on: [push]

env:
  CI: true
jobs:
  test:
    # Running end-to-end tests requires accessing secrets which aren't available to dependabot.
    # https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    environment:
      name: ${{ matrix.environment-name }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        # NSS does not support static client registration, which we rely on for testing.
        environment-name: ["ESS PodSpaces"]
        experimental: [false]
        include:
          - environment-name: "ESS Dev-Next"
            experimental: true
    steps:
      - uses: actions/checkout@v3
      # The Node version does not influence how well our tests run in
      # the browser so we only need to test in one.
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: npm
      - run: npm ci
      - run: npm run bootstrap -- --ci
      - run: npm run build
      - name: Install e2e tests dependencies
        run: npx playwright install --with-deps
        working-directory: e2e/browser/
      - name: Prepare browser-based end-to-end tests
        run: npm install
        working-directory: packages/browser/examples/demoClientApp
      - name: Run browser-based end-to-end tests
        run: npm run test:e2e:browser
        env:
          E2E_DEMO_CLIENT_APP_URL: http://localhost:3001
          E2E_TEST_USER: ${{ secrets.E2E_TEST_USER }}
          E2E_TEST_PASSWORD: ${{ secrets.E2E_TEST_PASSWORD }}
          E2E_TEST_IDP: ${{ secrets.E2E_TEST_IDP }}
          E2E_TEST_OWNER_CLIENT_ID: ${{ secrets.E2E_TEST_OWNER_CLIENT_ID }}
          E2E_TEST_OWNER_CLIENT_SECRET: ${{ secrets.E2E_TEST_OWNER_CLIENT_SECRET }}
          E2E_TEST_ENVIRONMENT: ${{ matrix.environment-name }}
      - name: Archive browser-based end-to-end test failure results, if any
        uses: actions/upload-artifact@v3.1.1
        continue-on-error: true
        if: failure()
        with:
          name: e2e-browser-failures
          path: e2e/browser/test-results
