name: End-to-end browser tests

on: [push, workflow_dispatch]

env:
  CI: true
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Available OS's: https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners
        os: [ubuntu-20.04]
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache node modules
        uses: actions/cache@v2.1.6
        env:
          cache-name: cache-node-modules
        with:
          path: 
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-node${{ runner.node-version }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      - run: npm ci
      - run: npm run bootstrap -- --ci
      - run: npm run build
      - name: Prepare browser-based end-to-end tests
        run: |
          cd packages/browser/examples/demoClientApp
          npm install
          cd ../../../../
      - name: Run browser-based end-to-end tests (Linux)
        # Connections are flakier in CI, so retry failed network requests with --retry-test-pages.
        # That also requires adding `--hostname localhost` to run over HTTPS:
        # https://testcafe.io/documentation/402638/reference/configuration-file#retrytestpages
        # Setting a test-specific user agent is only possible for Chrome: https://stackoverflow.com/a/59358925
        #
        # Attempt to run our End-2-End tests multiple times if necessary (as they can be flaky!).
        run: |
          cd e2e/browser
          npm ci
          npm run e2e-test-ci || npm run e2e-test-ci || npm run e2e-test-ci
        # Dependabot does not have access to our secrets,
        # so end-to-end tests for Dependabot PRs can only be manually started.
        # https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/
        if: github.actor != 'dependabot[bot]'
        env:
          E2E_DEMO_CLIENT_APP_URL: http://localhost:3001
          E2E_ESS_USERNAME: ${{ secrets.E2E_TEST_ESS_PROD_COGNITO_USER }}
          E2E_ESS_PASSWORD: ${{ secrets.E2E_TEST_ESS_PROD_COGNITO_PASSWORD }}
          E2E_NSS_USERNAME: ${{ secrets.E2E_NSS_USERNAME }}
          E2E_NSS_PASSWORD: ${{ secrets.E2E_NSS_PASSWORD }}
          E2E_TESTCAFE_WAIT_TIME: 20000
      - name: Archive browser-based end-to-end test failure screenshots, if any
        uses: actions/upload-artifact@v2.2.4
        continue-on-error: true
        if: failure()
        with:
          name: e2e-browser-failures
          path: e2e/browser/e2e-browser-failures
